@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(http://fonts.googleapis.com/css?family=Raleway);

/* reset */
body, html {
  height: 100%;
  padding: 0px;
  margin: 0px
}
/* clearfix */
.container:after, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
li{
  list-style: none;
}
body {
  background-color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #222;
}
/*  */
a {
  cursor: pointer;
  transition: 0.4s all ease;
  color: inherit;
  text-decoration: none
}
.btn {
  display: inline-block;
  padding: 4px;
  background-color: #FFF;
  border-radius: 3px;
}
.btn img {
  display: block
}
.btn-refresh-location, .btn-info {
  border-radius: 50px;
  font
  opacity: 0.5;
}
.btn-refresh-location:hover, .btn-info:hover {
  opacity: 1
}
.question {
  position: absolute;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 12vh;
  bottom: 0px;
  left: 0px;
  color: #FFF;
  text-align: center;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.25) 33%, rgba(0, 0, 0, 0.25) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(33%, rgba(0, 0, 0, 0.25)), color-stop(100%, rgba(0, 0, 0, 0.25)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.25) 33%, rgba(0, 0, 0, 0.25) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.25) 33%, rgba(0, 0, 0, 0.25) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.25) 33%, rgba(0, 0, 0, 0.25) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.25) 33%, rgba(0, 0, 0, 0.25) 100%);

}
.question h1, .question h2, .question .origin, .question a.photo-credits {
  font-family:  'Alfa Slab One', 'Raleway', cursive;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px #444;
  font-weight: -100;
}
.question.visible {
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s
}
.question.visible, .question.visible h1, .question.visible h2, .question.visible .origin, .question.visible a.btn-answers, .question.visible a.photo-credits {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px)
}
.question.visible h1 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}
.question.visible h2 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
.question.visible .origin {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
.question.visible a.btn-answers, .question.visible a.photo-credits {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out
}
.question h1, .question h2 {
  margin: 0;
  font-weight: bold
}
.question h1 {
  font-size: 3em;
  letter-spacing: 3px;
  margin-bottom: 1em
}
.question a.btn-answers {
  margin-top: 0px;
  width: 100px
}
a.btn-answers {
  display: inline-block;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #FFF;
  border-radius: 5px;
  padding: 0.3em 1em;
  color: #FFF;
  text-decoration: none;
  margin-bottom: 2em;
}
.btn-answers:hover {
  background-color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  color: #000;
}
.btn-brandLogo {
  cursor: pointer;
  position: fixed;
  vertical-align: middle;
  z-index: 100;
  right: 23px;
  bottom: 23px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125%;
  /* background-size: cover; */
  /*background-attachment: fixed;*/
  background-image: url("../icons/vogue-logo-large.png");
  overflow: hidden;
  transition: .4s;
}

.btn-brandLogo:hover {
  transform: scale(1.5)
}

#brandLink {
  z-index: 200;
}
.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -10;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/vogue-tumblr-9.jpg");
  background-repeat: no-repeat;
}

div.vignette {
  position: relative;
}
div.vignette img {
 display: block;
}
div.vignette:after {
 -moz-box-shadow: inset 0 0 14em #000;
 -webkit-box-shadow: inset 0 0 14em #000;
 box-shadow: inset 0 0 14em #000;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
 content: "";
}
